.menu_desk {
  display: none;
}

.menu_mobile {
  display: none;
}

// xs screen mobile
@media screen and (min-width: 200px) and (max-width: 639px) {
  .menu_desk {
    display: none;
  }
  .menu_mobile {
    display: flex;
  }
  .react-multi-carousel-track {
    height: 100% !important;
  }
}

// sm table
@media screen and (min-width: 640px) and (max-width: 810px) {
  .menu_desk {
    display: none;
  }
  .menu_mobile {
    display: flex;
  }
  .react-multi-carousel-track {
    height: 100% !important;
  }
}

// md table
@media screen and (min-width: 811px) and (max-width: 1023px) {
  .menu_desk {
    display: flex;
  }
  .menu_mobile {
    display: none;
  }
}

// lg deskt
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .menu_desk {
    display: flex;
  }
  .menu_mobile {
    display: none;
  }
}

// xl deskt
@media screen and (min-width: 1281px) and (max-width: 1535px) {
  .menu_desk {
    display: flex;
  }
  .menu_mobile {
    display: none;
  }
}

// 2xl
@media screen and (min-width: 1536px) and (max-width: 1900px) {
  .menu_desk {
    display: flex;
  }
  .menu_mobile {
    display: none;
  }
}
